<link rel="shortcut icon" type="image/x-icon" href="/y-marui/assets/favicon.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  $(function () {
    $('a').each(function () {
      var a = new RegExp('/' + window.location.host + '/');
      if (!a.test(this.href)) {
        $(this).attr({ 'target': '_blank', 'rel': 'noopener noreferrer' });
      }
    });
  });
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js"></script>
<script>
  const base = 'https://y-marui.github.io/y-marui';
  const csvfile = 'https://y-marui.github.io/y-marui/toc.csv';
  function update_navi(data) {
    const csv = $.csv.toArrays(data);
    $(csv).each((row, val) => {
      var item = document.createElement('li');
      var a = document.createElement('a');
      item.appendChild(a);
      a.textContent = $.trim(val[0]);
      a.href = $.trim(val[1]);
      if (!a.href.startsWith(base)) {
        a.setAttribute("target", "_blank");
        a.setAttribute("rel", "noopener noreferrer");
      }
      $('#navi-array').append(item.outerHTML);
    });
  }
  $(function () { $.get(csvfile, update_navi, 'text'); });
</script>
